

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap')
/*Roboto */

.body {
    background: url(wallpaper.jpg) no-repeat center center fixed;
    background-size: cover;
}
a {
    text-decoration: none;
    box-shadow: none;
    text-shadow: 1px 1px brown;
}

#logo{
    position: relative;
    right: 1250px;
    width: 60px;
}

h1 {
    color: #5c5c5c;
    font-family: 'Roboto';
}

h2{
    color: #000;


}

<!DOCTYPE html>
<html>
<head>
<style>
div {
  background-color: lightgrey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}
</style>
</head>
<body>

<h2>Demonstrating the Box Model</h2>

<p>The CSS box model is essentially a box that wraps around every HTML element. It consists of: borders, padding, margins, and the actual content.</p>